/* Any and all formatting for the layout also including colors */

.acrylic {
    background-color: var(--c-backgound-light-A);
    backdrop-filter: blur(var(--pp-8));
    -webkit-backdrop-filter: blur(var(--pp-8));
    box-shadow: var(--pp-2) var(--pp-2) var(--pp-4) #0005;
    border: 1px solid var(--c-backgound-light);
    border-radius: var(--pp-16);
}

.column-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(15rem, 1fr));
    gap: var(--pp-48);
    min-height: 30vh;
}

body {
    margin: auto; /* Remove viewport border */
    background-image: linear-gradient(to bottom, var(--c-sky-top), var(--c-sky-bottom));
  }

nav {
    position: absolute;
    padding: var(--pp-16) var(--pp-32);
    margin: var(--pp-16) var(--pp-32);
    height: var(--pp-48);
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    gap: var(--pp-24);
    align-items: center;
    z-index: 1;

    border-radius: var(--pp-24);
}

nav > *:first-child {
    display: flex;
    align-items: center;
    gap: var(--pp-8);
}

nav img {
    flex: none;
    width: var(--pp-64);
}

article > * {
    padding: 0 var(--pp-48);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header hgroup {
    width: 75%;
}

section, footer {
    padding: var(--pp-48);
    background-color: var(--c-backgound-light);
}

footer {
    background-color: var(--c-backgound);
}

dl {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--pp-48);
}

dt {
    font-weight: bold;
}
dt[before]::before {
    content: attr(before)"\a";
    white-space: pre;
    margin-right: var(--pp-8);
    font-size: 4rem;
    color: var(--c-accent);
    font-weight: normal;
}

dd {
    margin: 0;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    margin-bottom: 3rem;
}

figure img {
    width: 70%;
    float: right;
}

figure blockquote {
    margin: 0;
    margin-top: var(--pp-16);
    padding: var(--pp-16);
    position: absolute;
    width: 22rem;
    padding-top: 2rem;
}

blockquote::before {
    content: '\201C';
    font-size: 6rem;
    color: var(--c-accent);
    position: absolute;
    top: 2rem;
    left: var(--pp-8);
}

blockquote[cite]::after {
    content: "- "attr(cite);
}



footer img {
    width: var(--pp-64);
}

footer dt {
    text-align: top;
    font-size: 1.25rem;
    color: var(--c-accent);
}

footer dl {
    display: flex;
    flex-direction: row;
    gap: var(--pp-48);
    justify-content: space-between;
}

footer div:first-child {
    width: 40%;
}

footer div:first-child dt {
    display: flex;
    align-items: center;
    gap: .5rem;
}

dd > a > img {
    margin: 1rem 1rem 0 0;
    width: var(--pp-32);
}

#privacy > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--pp-48);
}

#privacy dl {
    display: flex;
    flex-direction: column;
}

#privacy img {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    object-position: bottom;
}

#team-element section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--pp-64);
    justify-items: center;
}

#team-element figure {
    max-width: 18rem;
}

#team-element figure img {
    width: 100%;
    padding-bottom: 1rem;
}

#team-element h3 {
    color: var(--c-accent);
    font-size: 1.25rem;
    margin: 0;
}

#team-element hgroup p {
    font-family: var(--f-head);
    font-size: 1rem;
    margin: 0;
}

#team-element figcaption > p {
    margin-top: .5rem;
}

@media (min-width: 75rem) {
    section > *, header > *, footer > *, nav {
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 75rem) {
    .column-2 {
        display: flex;
        flex-direction: column;
    }

    figure img {
        width: 50%;
        float: right;
    }
    
    figure blockquote {
        margin: 0;
        margin-top: var(--pp-16);
        padding: var(--pp-16);
        position: absolute;
        width: 30rem;
        padding-top: 2rem;
    }

    #privacy > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--pp-48);
    }

    #privacy img {
        max-height: 50vh;
    }
}

@media (max-width: 40rem) {
    #landingpage-element figure img {
        display: none;
    }

    figure blockquote {
        position: relative;
        width: auto;
    }
}

@media (max-width: 40rem) {
    h1 {
        font-size: 2rem;
    }
    header hgroup {
        width: 100%;
    }

    article > * {
        padding: 0 var(--pp-16);
    }

    main article > section {
        max-height: 300vh;
    }

    nav {
        padding: var(--pp-16) var(--pp-16);
    }
    nav img {
        width: var(--pp-32);
    }

    #team-element section {
        max-height: 500vh;
    }

    body dialog {
        width: auto;
        margin: var(--pp-16);
        hyphens: manual;
        text-align: left;
    }

    footer div:first-child {
        width: auto;
    }

    footer dl {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}