body {
    overflow-y: hidden;
} 

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
}

article {
    flex: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    transition: transform var(--t-speed) ease-in-out;
}

header {
    height: 70vh;
}

article > section {
    flex: none;

    /* To resize after page transition */
    max-height: 150vh;
    padding: 4rem max(calc((100% - 75rem)/2));
    overflow: hidden;
    transition: max-height 0s;
}

/* Page transition */
#stress:target ~ article {
    transform: translateX(-100%);
}
#team:target ~ article{
    transform: translateX(-200%);
}

/* To ensure scrollbar is the right size based on targeted page */
div:not(:first-child):target ~ #landingpage-element > section,
#stress:not(:target) ~ #stress-element > section,
#team:not(:target) ~ #team-element > section {
    max-height: 0vh;
    transition: max-height calc(var(--t-speed) * 5) ease-out var(--t-speed);
}

/* Parallax effect */
main {
    perspective: 1px;
    perspective-origin: top;
}

main > img {
    --distance: 2;
    /* TODO: need to fix some of these value so I don't need to guess (2.1 etc.) */
    --scale: calc(var(--distance) * 2.1); 
    --translate-y: calc(0% * (var(--distance) - 1));
    --translate-z: calc(-1px * var(--distance) + 1px);
    position: absolute;
    width: 100%;
    top: 60%;
    transform: translate3d(100%, var(--translate-y), var(--translate-z)) scale(var(--scale));
    z-index: -1;
    transition: transform var(--t-speed) ease-in-out;
}

/* Parallax effect when transtioning */
#stress:target ~ img {
    transform: translate3d(0%, var(--translate-y), var(--translate-z)) scale(var(--scale));
}
#team:target ~ img{
    transform: translate3d(-100%, var(--translate-y), var(--translate-z)) scale(var(--scale));
}

/* Open dialog and activate modal*/
#open-contact:checked ~ dialog, #open-contact:checked ~ #modal {
    display: block;
}

nav, dialog, #modal {
    z-index: 9; /* Make sure non-main elements are above the main elements */
}

dialog {
    position: fixed;
    top: 35%;
    width: 50vh;
    padding: 20px;
    display: none;
    border-radius: var(--pp-24);

}

dialog > label {
    float: right;
    cursor: pointer;
}

#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000033;
    display: none;
}