/* Any and all formatting for text and titles also including colors */
body {
    font-family: var(--f-body);
    line-height: 1.75rem;
    hyphens: auto;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--f-head);
    line-height: normal;
    text-align: left;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

nav * {
    text-decoration: none;
    font-family: var(--f-head);
    color: var(--c-font);
}

section hgroup *:first-child {
    font-size: .75rem;
    color: var(--c-gray);
}
section hgroup *:last-child {
    font-size: 2rem;
}

blockquote * {
    font-style: italic;
}

dd a {
    text-decoration: none;
    color: var(--c-font);
}