:root {
    /* Fonts */
    --f-head: 'Comfortaa', cursive;
    --f-body: 'Maven Pro', sans-serif;
    
    /* Sizing */
    --pp: calc(1rem/16); /* Pixel perference */
    --pp-2: calc(var(--pp) * 2);
    --pp-4: calc(var(--pp) * 4);
    --pp-8: calc(var(--pp) * 8);
    --pp-16: calc(var(--pp) * 16);
    --pp-24: calc(var(--pp) * 24);
    --pp-32: calc(var(--pp) * 32);
    --pp-48: calc(var(--pp) * 48);
    --pp-64: calc(var(--pp) * 64);

    --side-spaceing: var(--pp-32);

    /* Defualt colors */
    --c-main: #009381;
    --c-gray: #777;

    /* Dark mode colors*/
    color-scheme: dark;
    --c-backgound-light: #061520;
    --c-backgound-light-A: #061520AA;
    --c-backgound: #000; 
    --c-font: #F6F6F6;
    --c-accent: #B0C471;
    --c-sky-top: var(--c-backgound-light);
    --c-sky-bottom: var(--c-backgound);

    /* Transition speed */
    --t-speed: 0.3s;
  }

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --c-backgound-light: #FFF;
    --c-backgound-light-A: #FFFA;
    --c-backgound: #F6F6F6; 
    --c-font: #061520;
    --c-accent: #034D74;
    --c-sky-top: #ecf4ff;
    --c-sky-bottom: var(--c-backgound-light);
  }
}

/* Desktop varaibles */
@media (pointer: fine) {
    :root {
        --pp: calc(1rem/16 * 3/4);
    }
}